<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<head>
    <title>Edit item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add item</h1>
	<div>
	
		<form th:object="${makeup}" th:action="@{../save}" action="#" method="post">
<input type="hidden" th:field="*{id}" class="form-control"/>
<input type="text" th:field="*{brand}" />
<input type="text" th:field="*{name}" />
<input type="text" th:field="*{size}" />
<input type="text" th:field="*{price}" />


<input type="submit" class="btn btn-success" value="Save"/>
</form>

	</div>
</body>
</html>