<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>MakeupList</title>
<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div class="m-4">
	
<h1>Makeupstore database</h1>
<a href="/download">Get Excel list</a>

	<div class="float-right" style="padding:10px 0">
		<form th:action="@{/logout}" method="post">
		<p th:inline="text">You are logged in as: [[${#httpServletRequest.remoteUser}]]</p>
			<input type="submit" value="Sign Out" class="btn btn-dark"/>
		</form>
	</div>
	
    <table class="table table-bordered table-striped table-info table-hover ">
		<thead class="thead-dark">
<tr>
		  <th style="width: 25%">Brand</th>
		    <th>Name</th>
		    <th>Size</th>
		      <th>Price</th>
		      <th>Category</th>
		    	<th sec:authorize="hasAuthority('ADMIN')"> </th>
		         
		</tr>  
<tbody>


<tr th:each = "makeup: ${makeups}">


<td style="font-weight:bold"  th:text=${makeup.brand}></td>
<td th:text=${makeups.name}></td>
<td th:text=${makeups.size}></td>
<td th:text=${makeups.price}></td>
<td th:text="${makeups.category.categoryname}"></td>
<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${makeups.id})}" class="btn btn-xs btn-danger">Delete</a></td>

	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${makeups.id})}" class="btn btn-xs btn-danger">Edit</a></td> 
 
</tr>
</tbody>

</table>
<button sec:authorize="hasAuthority('ADMIN')"  type="button" class="btn btn-dark"> <a href="/add">Add new disc</a>  </button> 
</div>
</body>
</html>

